[Gateway]
type=hotspot
callsign=__CALLSIGN__
address=0.0.0.0
hbAddress=127.0.0.1
hbPort=20010
latitude=0.0
longitude=0.0
description1=PP5CI Hotspot
description2=
url=
language=portugues

[ircddb_1]
enabled=true
hostname=ircv4.openquad.net
username=__CALLSIGN__
password=
[ircddb_2]
enabled=false
[ircddb_3]
enabled=false
[ircddb_4]
enabled=false

[Repeater_1]
enabled=true
band=__MODULE__
callsign=__CALLSIGN__
address=127.0.0.1
port=20011
type=hb
reflector=
reflectorAtStartup=false
reflectorReconnect=never
frequency=__FREQUENCY_MHZ__
offset=0.0
rangeKm=0
latitude=0.0
longitude=0.0
agl=0
description1=PP5CI Hotspot
description2=
url=
band1=0
band2=0
band3=0

[Repeater_2]
enabled=false
[Repeater_3]
enabled=false
[Repeater_4]
enabled=false

[APRS]
enabled=false
password=

[Log]
path=/tmp/
fileRoot=dstargateway
fileRotate=false
fileLevel=none
displayLevel=debug
logIRCDDBTraffic=true

[Paths]
data=/usr/local/share/dstargateway.d/

[DExtra]
enabled=false
maxDongles=5

[DPlus]
enabled=false
maxDongles=5
login=__CALLSIGN__

[DCS]
enabled=false

[XLX]
enabled=false
hostfileUrl=http://xlxapi.rlx.lu/api.php?do=GetXLXDMRMaster

[Remote]
enabled=false
port=4242
password=

[DRats]
enabled=false

[AccessControl]
whiteList=
blackList=
restrictList=

[Daemon]
daemon=false
pidfile=
user=
