[General]
Callsign=__CALLSIGN__
Timeout=180
Duplex=0
RFModeHang=10
NetModeHang=3
Daemon=0

[Log]
MQTTLevel=0
DisplayLevel=2

[MQTT]
Host=127.0.0.1
Port=1883
Auth=0
Username=
Password=
Keepalive=60
Name=mmdvm

[CW Id]
Enable=0

[Modem]
Protocol=uart
UARTPort=__SERIAL_PORT__
UARTSpeed=115200
RXFrequency=__FREQUENCY__
TXFrequency=__FREQUENCY__
TXInvert=0
RXInvert=0
PTTInvert=0
TXDelay=0
RXOffset=0
TXOffset=0
RXLevel=50
TXLevel=50
RXDCOffset=0
TXDCOffset=0
RFLevel=5
D-StarTXLevel=50
RSSIMappingFile=/etc/pp5ci-hotspot/RSSI.dat
UseCOSAsLockout=0
Trace=0
Debug=0

[D-Star]
Enable=1
Module=__MODULE__
SelfOnly=0
AckReply=0
ErrorReply=0
RemoteGateway=0

[DMR]
Enable=0

[System Fusion]
Enable=0

[P25]
Enable=0

[NXDN]
Enable=0

[POCSAG]
Enable=0

[FM]
Enable=0

[D-Star Network]
Enable=1
LocalAddress=127.0.0.1
LocalPort=20011
GatewayAddress=127.0.0.1
GatewayPort=20010
Debug=0
