PP5CI_HOTSPOT_DB_PATH=/var/lib/pp5ci-hotspot/pp5ci-hotspot.db
PP5CI_HOTSPOT_CONFIG_DIR=/etc/pp5ci-hotspot
PP5CI_HOTSPOT_TIMEZONE=__TIMEZONE__
PP5CI_HOTSPOT_MQTT_HOST=127.0.0.1
PP5CI_HOTSPOT_MQTT_PORT=1883
PP5CI_HOTSPOT_MQTT_TOPIC=mmdvm/json
PP5CI_HOTSPOT_LOG_LEVEL=INFO
PP5CI_HOTSPOT_GITHUB_REPOSITORY=cleziotc/pp5ci-hotspot
PP5CI_HOTSPOT_ADMIN_PASSWORD_FILE=/etc/pp5ci-hotspot/admin-password.json
